div#table_container {
  width: 65%;
  margin: auto;
  overflow-x: auto;
}

#table {
  table-layout: fixed;
  margin: auto;
  /*width: 100%;*/
}

#table td,th {
  overflow: hidden;
  height: 30px;
  width: 210px;
}

#language_selectors {
  width: 120px;
  margin: auto;
}