@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap');


body {
  font-family: 'Noto Serif';
  text-align: center;
}

/* Language selection boxes */

div#language_selectors_container {
  height: 100px;
  width: 450px;
  margin: 20px auto;
  text-align: left;
}

#language_selectors {
  margin: auto;
  list-style-type: none;
  padding-left: 0px;
  -moz-column-count: 3;
  -moz-column-gap: 0px;
  -webkit-column-count: 3;
  -webkit-column-gap: 0px;
  column-count: 3;
  column-gap: 0px;
}


/*The dictionary table*/

div#table_container {
  height: 400px;
  display: inline-block;
  overflow-x: auto;
  border-bottom: 2px solid #999;
}

#table th {
  position: sticky;
  top: 0px;
  background-color: #4CAF50;
  color: white;
}

#table td,th {
  overflow: hidden;
  height: 30px;
  width: 210px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-family: 'Noto Serif', 'Noto Serif SC', 'Noto Serif JP';
}

#table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#table tr:hover {
  background-color: #daf0dc;
}

#table tr#table_headers:hover {
  background-color: #fff;
}


/* The dictionary table (fancy formatting) */

#table tr.noun td {
  font-weight: bold;
  text-align: left;
}

#table tr.adjective td {
  text-align: right;
}

#table span.gender {
  padding-left: 4px;
  font-style: italic;
}
