/* Initial layout */

body {
  width: 65%;
  margin: auto;
  font: 300 1rem -apple-system, Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
}

#initial_options {
  margin: 2em 0;
}

#from_language_selectors_container {
  width: 90%;
  margin: 2em auto;
  text-align: center;
  border: 1px solid black;
  padding: 0.75em;
}

#to_language_selectors_container {
  width: 90%;
  margin: 2em auto;
  text-align: center;
  border: 1px solid black;
  padding: 0.75em;
}

#start_button_container {
  width: 120px;
  margin: 2em auto;
  text-align: center;
}

h4 {
  margin-top: 0px;
}

#from_language_selectors_container ul {
  width: 90%;
  margin: auto;
  text-align: left;
  list-style-type: none;
  padding-left: 0px;
  -webkit-column-width: 100px;
  -moz-column-width: 100px;
  column-width: 100px;
  /*-moz-column-count: 4;
  -moz-column-gap: 0px;
  -webkit-column-count: 4;
  -webkit-column-gap: 0px;
  column-count: 4;
  column-gap: 0px;*/
}

#from_language_selectors_container li {
  padding: 0.5em 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#to_language_selectors_container select {
  font-size: 0.9em;
  width: 10em;
}

#start_button_container button {
  padding: 0.75em;
  font-size: 0.9em;
  width: 100%;
  height: 100%;
}


/* Question cards */

#question_card {
  /*margin: 2em auto;*/
  /*height: 70%;*/
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 1.5em;
  text-align: center;
  border: 1px solid black;
}

#question_card p {
  font-style: italic;
  text-align: left;
  margin-top: 0;
}

#question_card label {
  display: block;
  margin: 1em 0;
  font-size: 1.2em;
}

#input_row {
  margin: auto;
  width: auto;
  height: 3.6em;
}

#question_input {
  margin: 1em 0;
  text-align: center;
  width: 50%;
  border: none;
  border-bottom: 1px solid black;
  background-color: #eee;
  font-size: 1.3em;
}

#corresponding_noun {
  margin: 1em 0;
  padding: 0 1em;
  font-size: 1.3em;
}

#gender_selection, #position_selection {
  margin: 1em 0;
}

#gender_selection input, #position_selection input {
  display: none;
}

#gender_selection label, #position_selection label {
  display: inline-block;
  padding: 0.5em 1em;
  margin: 0 0.5em;
  font-size: 0.9em;
  border: 1px solid grey;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#gender_selection input:checked + label, #position_selection input:checked + label {
  color: white;
  background-color: #2a7ae2;
  border: 1px solid #2a7ae2;
}

#question_card_buttons_list {
  list-style: none;
  padding: 0;
  margin: 2em 0;
}

#question_card_buttons_list li {
  display: inline;
}

.question_card_button {
  height: 3em;
  width: 7em;
  font-size: 0.9em;
}

button#finished {
  margin-top: -1em;
}

#foreign {
  display: inline-block;
}

#foreign .unknown {
  position: relative;
  border-bottom: 1px dashed black;
  cursor: help;
}

#foreign .unknown .tooltip {
  font-size: 0.7em;
  visibility: hidden;
  text-align: center;
  background-color: #ccc;
  border-radius: 1em;
  padding: 5px;
  /*width: 3px;*/
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -50%;
  z-index: 1;
}

#foreign .unknown:hover .tooltip {
  visibility: visible;
}

#current_question_type {
  position: absolute;
  left: 2em;
  bottom: 2em;
}

#question_number {
  position: absolute;
  right: 2em;
  bottom: 2em;
}
