/* Initial layout */

body {
  width: 65%;
  margin: auto;
  font: 300 1rem -apple-system, Avenir, Helvetica, Arial, sans-serif;
}

#initial_options {
  margin: 2em 0;
}

#from_language_selectors_container {
  width: 90%;
  margin: 2em auto;
  text-align: center;
  border: 1px solid black;
  padding: 1em;
}

#to_language_selectors_container {
  width: 90%;
  margin: 2em auto;
  text-align: center;
  border: 1px solid black;
  padding: 1em;
}

#start_button_container {
  width: 100px;
  margin: 2em auto;
  text-align: center;
}

h4 {
  margin-top: 0px;
}

#from_language_selectors_container ul {
  width: 90%;
  margin: auto;
  text-align: left;
  list-style-type: none;
  padding-left: 0px;
  -moz-column-count: 4;
  -moz-column-gap: 0px;
  -webkit-column-count: 4;
  -webkit-column-gap: 0px;
  column-count: 4;
  column-gap: 0px;
}

#from_language_selectors_container li {
  padding: 0.5em 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#to_language_selectors_container select {
  font-size: 0.9em;
  width: 10em;
}

#start_button_container button {
  padding: 2em;
  width: 100%;
  height: 100%;
}


/* Question cards */

#question_card {
  /*margin: 2em auto;*/
  /*height: 70%;*/
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 2em;
  text-align: center;
  border: 1px solid black;
}

#question_card label {
  display: block;
  margin: 1em 0;
  font-size: 1.2em;
}

#question_card input {
  text-align: center;
  width: 50%;
  font-size: 1em;
}

#question_card select {
  margin: 0 1em;
  font-size: 0.9em;
}

#question_card_buttons {
  list-style: none;
  padding: 0;
}

#question_card_buttons li {
  display: inline;
}

#question_card_buttons button {
  height: 3em;
  font-size: 0.9em;
}

#foreign {
  display: inline-block;
}

#foreign .unknown {
  position: relative;
  border-bottom: 1px dashed black;
  cursor: help;
}

#foreign .unknown .tooltip {
  visibility: hidden;
  text-align: center;
  background-color: #ccc;
  border-radius: 1em;
  padding: 5px;
  width: 30px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -20px; /* width/2 - padding */
  z-index: 1;
}

#foreign .unknown:hover .tooltip {
  visibility: visible;
}
