body {
  font: 300 1rem -apple-system, Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
}

#github_link {
  border: 1px solid black;
}



/* Language selection boxes */

#language_selectors_container {
  /*height: 100px;*/
  /*width: 450px;*/
  width: 60%;
  margin: 2em auto;
  text-align: left;
}

#language_selectors {
  margin: auto;
  list-style-type: none;
  padding-left: 0px;
  -webkit-column-width: 100px;
  -moz-column-width: 100px;
  column-width: 100px;
  /*-moz-column-count: 4;
  -moz-column-gap: 0px;
  -webkit-column-count: 4;
  -webkit-column-gap: 0px;
  column-count: 4;
  column-gap: 0px;*/
}

#language_selectors li label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



/*The dictionary table*/

#table_container {
  /*height: 400px;*/
  display: inline-block;
  overflow-x: auto;
  /*border-bottom: 2px solid #999;*/
}

#table th {
  /*position: sticky;
  top: 0;*/
  background-color: #2a7ae2;
  color: white;
}

#table td,th {
  overflow: hidden;
  height: 30px;
  width: 210px;
  padding: 10px;
  /*border-bottom: 1px solid #ddd;*/
}

#table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#table tr:hover {
  background-color: #a3c7f3;
}

#table tr#table_headers:hover {
  background-color: #fff;
}



/* The dictionary table (interactivity) */

#table th.sortable {
  cursor: pointer;
}

#table th.sorted:after {
  position: absolute;
  right: 10px;
  content: "\2193";
}

#table th.sorted-descending:after {
  position: absolute;
  right: 10px;
  content: "\2191";
}

#table tr.expandable {
  cursor: pointer;
}

#table tr.expandable td:after {
  float: right;
  content: "+";
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 0 5px;
}

#table tr.expanded td:after {
  float: right;
  content: "–";
}



/* The dictionary table (typography) */

#table tr.noun td {
  text-align: left;
}

#table tr.adjective td {
  height: 20px;
  text-align: right;
  font-style: italic;
  font-size: 11pt;
}

#table span.gender {
  padding-left: 4px;
  font-style: italic;
}
