@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap');


body {
  font-family: 'Noto Serif';
  text-align: center;
}

/* Language selection boxes */

div#language_selectors_container {
  height: 100px;
  width: 450px;
  margin: 20px auto;
  text-align: left;
}

#language_selectors {
  margin: auto;
  list-style-type: none;
  padding-left: 0px;
  -moz-column-count: 3;
  -moz-column-gap: 0px;
  -webkit-column-count: 3;
  -webkit-column-gap: 0px;
  column-count: 3;
  column-gap: 0px;
}


/*The dictionary table*/

div#table_container {
  /*height: 400px;*/
  display: inline-block;
  overflow-x: auto;
  /*border-bottom: 2px solid #999;*/
}

#table th {
  position: sticky;
  top: 0px;
  background-color: #2a7ae2;
  color: white;
}

#table td,th {
  overflow: hidden;
  height: 30px;
  width: 210px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-family: 'Noto Serif', 'Noto Serif SC', 'Noto Serif JP';
}

#table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#table tr:hover {
  background-color: #a3c7f3;
}

#table tr#table_headers:hover {
  background-color: #fff;
}


/* The dictionary table (interactivity) */

#table th.sortable {
  cursor: pointer;
}

#table th.sorted:after {
  position: absolute;
  right: 10px;
  content: "\2193";
}

#table th.sorted-descending:after {
  position: absolute;
  right: 10px;
  content: "\2191";
}

#table tr.expandable {
  cursor: pointer;
}

#table tr.expandable td:after {
  float: right;
  content: "+";
}

#table tr.expanded td:after {
  float: right;
  content: "–";
}

/* The dictionary table (typography) */

#table tr.noun td {
  text-align: left;
}

#table tr.adjective td {
  height: 20px;
  text-align: right;
  font-style: italic;
  font-size: 11pt;
}

#table span.gender {
  padding-left: 4px;
  font-style: italic;
}
