body {
  font: 300 1rem Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
}



/* Language selection boxes */

#language_selectors_container {
  /*height: 100px;*/
  /*width: 450px;*/
  width: 60%;
  margin: 2em auto;
  text-align: left;
}

#language_selectors {
  margin: auto;
  list-style-type: none;
  padding-left: 0px;
  -webkit-column-width: 150px;
  -moz-column-width: 150px;
  column-width: 150px;
  /*-moz-column-count: 4;
  -moz-column-gap: 0px;
  -webkit-column-count: 4;
  -webkit-column-gap: 0px;
  column-count: 4;
  column-gap: 0px;*/
}

#language_selectors li label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



/*The dictionary table*/

#table_wrapper {
  display: inline-block;
  width: 65%;
}

#table {
  padding: 1em 0;
}

#table th {
  background-color: #2a7ae2;
  color: white;
}

#table td,th {
  height: 40px;
  width: 210px;
  padding: 0 15px;
  text-align: left;
}

#table tr.even {
  background-color: #f2f2f2;
}

#table tr:hover {
  background-color: #a3c7f3;
}

#table_length, #table_filter, #table_info, #table_paginate {
  font-size: 10pt;
}



/* The dictionary table (interactivity) */

table.dataTable thead {
  cursor: pointer; 
}

table.dataTable thead .sorting_asc:after {
  text-align: right;
  float: right;
  content: "\2193";
}

table.dataTable thead .sorting_desc:after {
  text-align: right;
  float: right;
  content: "\2191";
}

#table tr.expandable {
  cursor: pointer;
}

#table tr.expandable td:after {
  float: right;
  content: "+";
}

#table tr.expanded td:after {
  float: right;
  content: "-";
}



/* The dictionary table (typography) */

#table tr.noun td {
  text-align: left;
}

#table tr.adjective td {
  /*text-align: right;*/
}

#table span.gender {
  padding-left: 8px;
  font-style: italic;
}

#table span.unverified {
  background: rgba(174,48,48,0.4);
}



/* Reference links */

a.ref {
  font-size: 0.9em;
  font-family: monospace;
  padding-right: 0.5em;
}
